.main {
    height: 100%;
    justify-content: center;
    align-items: center;
    background-image: url("../../images/serfeliz.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-position: no-repeat;
    background-size: cover;
    min-height: 700px;
}

.main .title-ser-feliz {
    flex-direction: column;
    font-size: 6rem;
    font-family: "Anton", sans-serif;
    color: #5b88a4;
    text-shadow: black 0.1em 0.1em 0.2em; 
}

.main .title-ser-feliz span {
    color: #ed9121;
    margin-left: 100px;
}

.main .home .title-ser-feliz, .main span {
    font-size: 6rem;
}

@media (max-width: 649px) {
    .main .title-ser-feliz,
    .main .title-ser-feliz span  {
        font-size: 4.5rem;
    }
}


    @media (max-width: 494px) {
        .main .title-ser-feliz,
        .main .title-ser-feliz span  {
            font-size: 4rem;
        }

        .main .title-ser-feliz span {
            margin-left: 0;
        }

        .main .title-ser-feliz {
            text-align: center;
        }


    }