
.projetos {
    /* background-color: #f4f4f4; */
    background-color: rgb(238 242 255);
    color: #000;
    text-align: center;
    font-size: 3rem;
    
}

.projetos .title {
    color: #5b88a4; 
}

.projetos .container {
    font-size: 3rem;
    padding: 20px;
}

.projetos .cards-projetos {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
}

.projetos .cards-projetos .card-projetos {
    background-color:#fff;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: #ed9121 0.1em 0.1em 0.1em;
    border: 2px solid #ed9121;
}

.projetos .cards-projetos .card-projetos img,
.projetos .cards-projetos .card-projetos p {
    max-width: 350px;
    border-radius: 8px;
}

.projetos .cards-projetos .card-projetos h2 {
    font-size: 3rem;
    color: #ed9121;
}