.quem-somos {
    font-size: 3.5rem;
    background-color: #5b88a4;
    background-size: contain;
}

.quem-somos .container {
    gap: 10px;
}
.quem-somos .title {
    color: #ed9121;
    text-shadow: black  0.1em 0.1em 0.1em;
}

.quem-somos .title .animate__fadeIn {
    animation-delay: 0.2s;

}
.quem-somos .container .info {
    width: 50%;
    font-weight: 300;
    font-size: 3rem;
    flex-direction: column;
    gap: 15px;
    padding: 3%;
}

.quem-somos .container .info strong, 
.quem-somos .container .info i {

    font-size: 1.8rem;
}

.quem-somos .container .info .cards-info {
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.quem-somos .container .info .cards-info .card-info,
.quem-somos .container .info .gospel {
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
}

.quem-somos .container .info .cards-info .card-info {
    width: 300px;
    height: 200px;
}


.quem-somos .container .info .cards-info .card-info h1 {
    font-size: 2rem;
    margin-top: 20px;
}

.quem-somos .container .info .cards-info .card-info p,
.quem-somos .container .info .gospel p{
    font-size: 1.5rem;
    padding: 10px;
    text-align: center; 
}

.quem-somos .container .images {
    width: 50%;
    border-radius: 10px;
    column-count: 3;
    column-gap: 8px;
    padding: 3%;
}



.quem-somos .container .images img {
    width: 100%;
    margin-bottom: 5px;
    background-color:#fff;
    padding: 7px 10px 30px;

}

@media (max-width: 901px) {
    .quem-somos .container .info {
        text-align: center;
    }    
    
    .quem-somos .container .info .cards-info {
        flex-direction: column;
    }    

    .quem-somos .container .info .cards-info .card-info {
        height: 150px;
    }    
}    

@media (max-width: 600px) {
    .quem-somos .container {
        flex-direction: column;
    }
    .quem-somos .container .images, .quem-somos .container .info {
        width: 100%;
    }
}