@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

body {
    background-color: #fff;
    height: 100vh;
    margin: 0 auto;
}

img {
    object-fit: cover;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding-inline: 40px;
}

.header .image-logo {
    display: flex;
    align-items: center;
    gap: 3px;
    font-weight: 600;
}

.header .image-logo img {
    width: 70px;
    height: 60px;
}

.header .image-logo .title-obra-lumen {
    display: flex;
    flex-direction: column;
    font-family: "Oswald", sans-serif;
    color: #5b88a4;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.header .image-logo .title-obra-lumen span {
    font-size: 1.4rem;
    margin-left: 8px;
}

.header .navegation ul {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 3.5rem;
    display: flex;
    gap: 40px;
    
}

.header .navegation ul a {
    color: #5b88a4;
    transition: 0.4s;
}
.header .navegation ul a:hover {
    color: #ed9121;
}

.header .navegation ul li:last-child a {
    color: #fff;
    padding: 10px;
    font-weight: 400;
    background-color: #ed9121;
    border-radius: 15px;
}

.header .navegation ul li:last-child a:hover {
    padding: 13px 15px
}

.main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/serfeliz.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-position: no-repeat;
    background-size: cover;
    min-height: 700px;
}

.main .home .title {
    display: flex;
    flex-direction: column;
    font-size: 6rem;
    font-family: "Permanent Marker", sans-serif;
    color: #5b88a4;
    text-shadow: black 0.1em 0.1em 0.2em

}

.main .home .title span {
    color: #ed9121;
    margin-left: 100px;
}

.main .home .title, .main span {
    font-size: 6rem;
}

.quem-somos {
    font-size: 3.5rem;
    background-color: #5b88a4;
    background-size: contain;background-size: contain;
}

.quem-somos .container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    gap: 100px;
    margin-top: 120px;
}
.quem-somos .title {
    /* font-family: "Kanit", sans-serif; */

    /* font-family: "Playwrite GB S", cursive; */
    padding-top:  70px;
    font-family: "Permanent Marker", sans-serif ;
    font-size: 3.5rem;
    text-align: center;
    color: #ed9121;
    text-shadow: black 0.1em 0.1em 0.2em;
    text-transform: uppercase;
}


.quem-somos .container .info {
    width: 50%;
    font-weight: 300;
    font-size: 3rem;
    margin-left: 1%;
    font-family: "Oswald", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quem-somos .container .images {
    width: 50%;
    border-radius: 10px;
    column-count: 3;
    column-gap: 10px;
}




.quem-somos .container .images img {
    width: 100%;
    margin-bottom: 5px;
    background-color:#fff;
    padding: 7px 10px 30px;

}



































.wrapper {
    /* A altura precisa ser determinada para um valor fixo para funcionar
    100vh é a altura inteira do navegador */
    height: 100vh;
    /* A escala das imagens adicionaria scrollbar, então escondemos */
    overflow-x: hidden;
    /* Habilita o scroll na página*/
    overflow-y: auto;
    /* Adiciona a perspectiva para 2px. Isso simula a distância ( Z - frente e tras) em relação aos "olhos" do usuário ou navegador .*/
    perspective: 2px;
  }
  
  .parallax {
    min-height: 700px;
    width: 100%;

    background-image: url(../images/png-transparent-obra-lumen-light-logo-jo-light-leaf-text-logo.png);
    background-attachment: fixed;
    background-position: center;
    background-position: no-repeat;
    background-size: cover;
  }

  .text {
    margin-left: 37px;
    font-size: 89px;
    color: brown;
    padding-top: 9%;
  }

  .image {
    position: absolute;
    top: 65%;
}
