@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


body {
    background-color: #fff;
    max-width: 1440px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.header .image-logo {
    margin-left: 1%;
}

.header .image-logo img {
    width: 70px;
    height: 60px;
}

.header .navegation {
    margin-right: 1%;
}

.header .navegation ul {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 3.5rem;
    display: flex;
    gap: 40px;
    
}

.header .navegation ul a {
    color: #5b88a4;
    transition: 0.4s;
}
.header .navegation ul a:hover {
    color: #ed9121;
}

.header .navegation ul li:last-child a {
    color: #fff;
    padding: 10px;
    font-weight: 400;
    background-color: #ed9121;
    border-radius: 15px;
}

.header .navegation ul li:last-child a:hover {
    padding: 13px 15px
}

.main {
    display: flex;
    justify-content: center;
    background-image: url("../images/serfeliz.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-position: no-repeat;
    background-size: cover;
    min-height: 700px;
    width: 100%;
}

.main .main-title {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    font-size: 6rem;
    font-family: "Permanent Marker", cursive;
    color: #5b88a4;
    text-shadow: black 0.1em 0.1em 0.2em

}

.main .main-title span {
    color: #ed9121;
    margin-left: 100px;
}

.main .main-title, .main span {
    font-size: 6rem;
}

.quem-somos {
    position: absolute;
    /* top: 100%; */
    font-size: 3.5rem;
    background-color: #5b88a4;
}






































.wrapper {
    /* A altura precisa ser determinada para um valor fixo para funcionar
    100vh é a altura inteira do navegador */
    height: 100vh;
    /* A escala das imagens adicionaria scrollbar, então escondemos */
    overflow-x: hidden;
    /* Habilita o scroll na página*/
    overflow-y: auto;
    /* Adiciona a perspectiva para 2px. Isso simula a distância ( Z - frente e tras) em relação aos "olhos" do usuário ou navegador .*/
    perspective: 2px;
  }
  
  .parallax {
    min-height: 700px;
    width: 100%;

    background-image: url(../images/png-transparent-obra-lumen-light-logo-jo-light-leaf-text-logo.png);
    background-attachment: fixed;
    background-position: center;
    background-position: no-repeat;
    background-size: cover;
  }

  .text {
    margin-left: 37px;
    font-size: 89px;
    color: brown;
    padding-top: 9%;
  }

  .image {
    position: absolute;
    top: 65%;
}
